/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
@import "antd.css";
:root {
  /* Add by geekZzboom. ---- start ---- */
  --ifm-navbar-height: 64px;
  --ifm-subnavbar-height: 64px;
  --ifm-navbar-padding-horizontal: 24px;
  --ifm-navbar-item-padding-horizontal: 16px;
  --ifm-navbar-link-hover-color: #333333;
  --ifm-navbar-link-color: #808080;
  --ifm-navbar-search-input-background-color: #f2f2f2;
  --ifm-navbar-search-input-icon: url('data:image/svg+xml;utf8,<svg fill="currentColor" stroke="gray" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" height="16px" width="16px"><path d="M7,1.33333333 C10.1296136,1.33333333 12.6666667,3.87038642 12.6666667,7 C12.6666667,8.3848265 12.1699156,9.65363056 11.3448824,10.6379431 L14.3535534,13.6464466 C14.5488155,13.8417088 14.5488155,14.1582912 14.3535534,14.3535534 C14.1760423,14.5310644 13.8982666,14.5472018 13.7025256,14.4019655 L13.6464466,14.3535534 L10.6379431,11.3448824 C9.65363056,12.1699156 8.3848265,12.6666667 7,12.6666667 C3.87038642,12.6666667 1.33333333,10.1296136 1.33333333,7 C1.33333333,3.87038642 3.87038642,1.33333333 7,1.33333333 Z M7,2.33333333 C4.42267117,2.33333333 2.33333333,4.42267117 2.33333333,7 C2.33333333,9.57732883 4.42267117,11.6666667 7,11.6666667 C9.57732883,11.6666667 11.6666667,9.57732883 11.6666667,7 C11.6666667,4.42267117 9.57732883,2.33333333 7,2.33333333 Z" /></svg>');
  --ifm-menu-link-sublist-icon: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16px" height="16px" viewBox="0 0 24 24"><path fill="rgba(0,0,0,0.5)" d="M6.91074435,4.41074435 C6.61034105,4.71114765 6.5872331,5.1838402 6.84142051,5.51074954 L6.91074435,5.58925565 L11.3208333,10 L6.91074435,14.4107443 C6.61034105,14.7111477 6.5872331,15.1838402 6.84142051,15.5107495 L6.91074435,15.5892557 C7.21114765,15.889659 7.6838402,15.9127669 8.01074954,15.6585795 L8.08925565,15.5892557 L13.0892557,10.5892557 C13.389659,10.2888523 13.4127669,9.8161598 13.1585795,9.48925046 L13.0892557,9.41074435 L8.08925565,4.41074435 C7.76381874,4.08530744 7.23618126,4.08530744 6.91074435,4.41074435 Z"></path></svg>');
  --ifm-menu-link-padding-vertical: 5px;
  --ifm-menu-color: #333333;   
  --ls-navbar-bottom-color: #E6E6E6;
  --ifm-footer-background-color: #fff;
  /* Add by geekZzboom. ---- end ---- */
}

/* Add by geekZzboom. ---- start ---- */

html[data-theme='dark'] {
  --ifm-navbar-search-input-background-color: #333333;
  --ifm-navbar-search-input-color: #999999;
  --ls-navbar-bottom-color: #333333;
  --ifm-toc-border-color: #333333;
  --ifm-footer-background-color: #1A1A1A;

}

[data-theme='dark'] .navbar__link {
  color: #999999;
}

[data-theme='dark'] .navbar__link--active .mobile__navbar__link--active {
  color: #fff;
}

.navbar {
  border-bottom: 1px solid var(--ls-navbar-bottom-color);
  box-shadow: inherit;
}

.navbar__item {
  font-size: 15px;
}

.sub-navbar {
  box-shadow: var(--ifm-navbar-shadow);
}

.navbar__brand {
  height: 32px; 
  margin-right: 32px;
}
.navbar__title {
  color: var(--ifm-heading-color);
  font-size: 16px;
}
/*
.navbar__logo {
  margin-right: 0;
} */
.navbar__link {
  font-weight: var(--ifm-font-weight-normal);
}
.navbar__link--active, .mobile__navbar__link--active {
  font-weight: bold;
}
.navbar__link--active::after {
  position: absolute;
  right: 0;
  bottom: -6px;
  left: 0;
  margin: auto;
  border-radius: 1px;
  content: "";
  height: 2px;
  width: 16px;
  background: var(--ifm-color-primary);
}
.mobile__navbar__link--active::after {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 1px;
  content: "";
  height: 100%;
  width: 2px;
  background: var(--ifm-color-primary);
}
.navbar__exlink {
  color: var(--ifm-color-primary);
}
.navbar__search-input {
  width: 320px;
  outline: none;
}

.navbar__search-input:hover {
  background: rgba(242, 242, 242, 0.7) var(--ifm-navbar-search-input-icon) no-repeat 0.75rem center / 1rem 1rem;
}

.navbar__search-input:focus {
  background: rgba(242, 242, 242, 0.7) var(--ifm-navbar-search-input-icon) no-repeat 0.75rem center / 1rem 1rem;
  border: 1px solid #1D99FF;
}

[data-theme='dark'] .navbar__search-input:hover {
  background: rgba(51, 51, 51, 0.7) var(--ifm-navbar-search-input-icon) no-repeat 0.75rem center / 1rem 1rem;
}

[data-theme='dark'] .navbar__search-input:focus {
  background: rgba(51, 51, 51, 0.7) var(--ifm-navbar-search-input-icon) no-repeat 0.75rem center / 1rem 1rem;
  border: 1px solid #1D99FF;
}

.subnavbar--fixed-top {
  position: sticky;
  top: 64px;
  z-index: 100;
}

.menu__list-item {
  margin-top: 0;
}

.menu__link {
  font-size: 14px;
  line-height: 2.25;
}

[data-theme='dark'] .menu__link {
  color: #cccccc;
}

.menu__link[type="first"] {
  font-size: 15px;
  font-weight: var(--ifm-font-weight-bold);
}
/* .menu__link--active[type="first"] {
  
} */
.menu__link--active:not(.menu__link--sublist) {
  background: inherit;
}
.menu__link--sublist:after {
  /* height:20px;
  min-width: 20px; */
  background: var(--ifm-menu-link-sublist-icon) 100% / 20px 20px;
  position: absolute;
  right: 16px;
  top: 0;
  bottom: 0;
  margin: auto;
  transform: rotateZ(90deg);
}

.menu__list-item--collapsed .menu__link--sublist:after {
  transform: inherit;
}

.table-of-contents__link {
  font-size: 13px;
}

.table-of-contents__link--active::after {
  position: absolute;
  left: 0;
  margin: auto;
  border-radius: 1px;
  content: "";
  height: 23px;
  width: 3px;
  background: var(--ifm-color-primary);
}

.footer {
  border-top: 1px solid #E6E6E6;
}

.footer__copyright {
  color: #999999;
  font-size: 14px;
}

[data-theme='dark'] .footer {
  border-top: 1px solid #333333;
}

[data-theme='dark'] .footer__copyright {
  color: #808080;
}

@media (max-width: 1256px) {
  
  .row .col.col.col {
    --ifm-col-width: 100%;
    flex-basis: var(--ifm-col-width);
    margin-left: 0;
    max-width: var(--ifm-col-width);
  }
  
  .footer {
    --ifm-footer-padding-horizontal: 0
  }
  
  .footer__link-separator {
    display: none;
  }

  .footer__col {
    margin-bottom: calc(var(--ifm-spacing-vertical) * 3);
  }

  .footer__link-item {
    display: block;
  }
  
  .hero {
    padding-left: 0;
    padding-right: 0
  }
  
  .menu--responsive .menu__button {
    display: inherit
  }
  .menu--responsive:not(.menu--show) .menu__list {
    display: none;
    opacity: 0;
  }
  
  .navbar > .container,
  .navbar > .container-fluid {
    padding: 0
  }
  
  .navbar__toggle {
    display: inherit
  }
  
  .navbar__item {
    display: none
  }
  
  .navbar__search-input {
    width: 9rem
  }
  
  .pills--block {
    flex-direction: column
  }
  .pills--block .pills__item:not(:first-child) {
    margin-top: var(--ifm-pills-spacing);
  }

  .pills--block .pills__item:not(:last-child) {
    margin-bottom: var(--ifm-pills-spacing);
  }
  
  .tabs--block {
    flex-direction: column
  }
  .tabs--block .tabs__item:not(:first-child) {
    margin-top: var(--ifm-tabs-spacing);
  }

  .tabs--block .tabs__item:not(:last-child) {
    margin-bottom: var(--ifm-tabs-spacing);
  }
}


/* Add by geekZzboom. ---- end ---- */

[data-theme='dark'] .gitalk-wrapper {
    background: #1A1A1A!important;
    border-color: #333333;
}
[data-theme='dark']  .ant-modal{
    border-color: #333!important;
}
[data-theme='dark']  .ant-modal .ant-modal-content{
    background: #1A1A1A!important;
    color:#E6E6E6!important;
    border-color: #333!important;
}
/* ,[data-theme='dark'] .ant-modal .ant-modal-title,.ant-modal  .gt-container .gt-header-controls,.ant-modal  .CodeMirror,.ant-modal .editor-toolbar,.ant-modal .ant-modal-footer */
[data-theme='dark'] .ant-modal  .ant-modal-header{
  background: #1A1A1A!important;
    color:#E6E6E6!important;
    border-color: #333!important;
}
[data-theme='dark'] .ant-modal  .gt-header-controls{
  background: #1A1A1A!important;
    color:#E6E6E6!important;
    border-color: #333!important;
}
[data-theme='dark'] .ant-modal   .CodeMirror{
  background: #1A1A1A!important;
    color:#E6E6E6!important;
    border-color: #333!important;
}
[data-theme='dark'] .ant-modal   .editor-toolbar,[data-theme='dark'] .ant-modal   .ant-modal-footer{
  background: #1A1A1A!important;
    color:#E6E6E6!important;
    border-color: #333!important;
}
[data-theme='dark'] .ant-modal-title,[data-theme='dark'] .CodeMirror-cursor{
  border-color:#E6E6E6!important;
  color:#E6E6E6!important;
}

 [data-theme='dark']  .editor-toolbar a{
    color:#999999!important;
}
[data-theme='dark'] .tips-modal h3{
    color: #E6E6E6!important;
}
[data-theme='dark'] .tips-modal p{
    color: #CCCCCC!important;
} 
[data-theme='dark'] .gt-container .gt-btn-preview{
  background: rgba(128, 128, 128, 0.15)!important;
  color: #CCCCCC!important;
  border:none;
}
[data-theme='dark']  .ant-modal-close{
 color: #666!important;

}